*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-full{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container{
    border: 1px solid gray;
    border-radius: 5px
}

.top-calendar{
    height: 70px;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: white
}

.left-button{
    margin-right: 50px
}

.right-button{
    margin-left: 50px
}

.main-calendar{
    height: 600px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.name-days{
    height: 100px;
}

.name-days li{
    width: calc(700px / 7);
    height: 100px;
    font-weight: bold;
}

.number-days{
    height: 500px;
}

.main-calendar ul{
    display: flex;
    flex-wrap: wrap;
}

.main-calendar li{
    width: calc(700px / 7);
    height: calc(600px / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .top-calendar,
.main-calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-calendar{

}

.btn-navigation{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-navigation:disabled{
    background-color: #efefef;
    cursor: not-allowed;
}

#calendar li,
#nome-mese{
    text-transform: capitalize;
}

.festivo{
    color: red
} */
